{% extends 'profile_base.html' %}

{% load static %}

{% block content %}

<div class="midde_cont">
    <div class="container-fluid">
      <div class="row column_title">
          <div class="col-md-12">
            <div class="page_title">
                <h2>Map Form</h2>
            </div>
          </div>
      </div>
       
            <!-- ... (previous contact information) ... -->
            <div class="col-md-12 wow fadeIn" ">
                <!-- Embed Google Maps iframe for Ahmedabad location -->
                <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.9569236410776!2d72.60437959999999!3d22.992737999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85c2e335ed6b%3A0xd19a77c6688f5c9b!2sManinagar%2C%20Ahmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1623407996240!5m2!1sen!2sin"
                    frameborder="0" style="min-height: 500px; border:0; width:100%;" allowfullscreen="" aria-hidden="false"
                    tabindex="0" ></iframe>

                <!-- Contact End -->

                <!-- ... (rest of your HTML code) ... -->
            </div>
     
    </div>
</div>

<!-- Contact End -->

{% endblock %}