

{% extends 'userbase.html' %}

{% load static %}



{% block content %}

<section id="slide-show">
    <div class="slidex activx">
      <div class="bg1">
        <div class="slider-center">
            <div class="col-lg-12 text-center text-lg-start">
                {% comment %} <p class="text-white animated slideInLeft mb-4 pb-2">HopeLink Connect means non-profit organization.
                <br>Charitable giving is a powerful force that has the potential to transform lives and communities. It is an act of selflessness, compassion, and empathy that reaches beyond our spheres.
                <br>    Let's make a better world. You can always make a difference for them. Together, let's help each other.</p>
                <a href="{% url 'registration' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Donation</a> {% endcomment %}
            </div>
        </div>
      </div>
    </div>

    <div class="slidex">
       <div class="bg2">
         <div class="slider-center">
            <div class="col-lg-12 text-center text-lg-start">
                {% comment %} <p class="text-white animated slideInLeft mb-4 pb-2">HopeLink Connect means non-profit organization.
                <br>Charitable giving is a powerful force that has the potential to transform lives and communities. It is an act of selflessness, compassion, and empathy that reaches beyond our spheres.
                <br>    Let's make a better world. You can always make a difference for them. Together, let's help each other.</p>
                <a href="{% url 'registration' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Donation</a> {% endcomment %}
            </div>
         </div>
       </div>
    </div> 

    <div class="slidex">
       <div class="bg3">
         <div class="slider-center">
            <div class="col-lg-12 text-center text-lg-start">
                {% comment %} <p class="text-white animated slideInLeft mb-4 pb-2">HopeLink Connect means non-profit organization.
                <br>Charitable giving is a powerful force that has the potential to transform lives and communities. It is an act of selflessness, compassion, and empathy that reaches beyond our spheres.
                <br>    Let's make a better world. You can always make a difference for them. Together, let's help each other.</p>
                <a href="{% url 'registration' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Donation</a> {% endcomment %}
            </div>
         </div>
       </div>
    </div>


    <div class="slidex">
       <div class="bg4">
         <div class="slider-center">
            <div class="col-lg-12 text-center text-lg-start">
                {% comment %} <p class="text-white animated slideInLeft mb-4 pb-2">HopeLink Connect means non-profit organization.
                <br>Charitable giving is a powerful force that has the potential to transform lives and communities. It is an act of selflessness, compassion, and empathy that reaches beyond our spheres.
                <br>    Let's make a better world. You can always make a difference for them. Together, let's help each other.</p>
                <a href="{% url 'registration' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Donation</a> {% endcomment %}
            </div>
       </div>
    </div>

    <div class="slideshow-nav">
      <a href="#" class="nav-link previousx"><i class="fa fa-angle-left"></i></a>
      <a href="#" class="nav-link nextx"><i class="fa fa-angle-right"></i></a>
    </div>

    <div class="arrow"><a href="#unten"><i class="fa fa-angle-down"></i></a></div>

</section> 
<section class="call-to-action">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="call-to-action-corner col-md-4" style="background-image: url({% static 'img/left-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-circle"></i>
                        </div>						
                    </div>
                    <div class="content-box">
                        <h3>Donation</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                        <a href="{% url 'userdonation' %}" class="thm-btn inverse">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="call-to-action-center col-md-4" style="background-image: url({% static 'img/center-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-social"></i>
                        </div>						
                    </div>
                    <div class="content-box">
                        <h3>Volunteer</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                        <a href="{% url 'userintent' %}" class="thm-btn inverse">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="call-to-action-corner col-md-4" style="background-image: url({% static 'img/right-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical"></i>
                        </div>						
                    </div>
                    <div class="content-box">
                        <h3>Fundraise</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                        <a href="{% url 'userabout' %}" class="thm-btn inverse">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Navbar & Hero End -->
        <!-- Service Start -->
        <div class="container-xxl">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Missions</h5>
                    <h1 class="mb-5">Explore Our Missions</h1>
                </div>
                <div class="row g-6">
                   
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                               <i class="fas fa-3x fa-wheelchair text-primary mb-4"></i> 
                                <h5>Help the Helpless</h5>
                                <p>"In a world where adversity can strike anyone. By reaching out to those who are less fortunate, we not only realize suffering but also foster sense of unity and shared humanity. We play role in making the world a kinder and more inclusive place, where no one is left without support and hope.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                               <i class="fas fa-3x fa-book-open text-primary mb-4"></i> 
                                <h5>Providing the Scholarship</h5>
                                <p>We believe that education is a fundamental right. Our mission is to ensure that every child, The regardless of their background, has access to quality education. We establish schools, offer scholarships, and promote literacy to unlock the full potential of the next generation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                               <i class="fas fa-3x fa-heartbeat text-primary mb-4"></i>
                                <h5>Health Care</h5>
                                <p>We are dedicated to improving healthcare access and outcomes in underserved areas. Our initiatives include setting up medical clinics, organizing health camps, and providing vital medical supplies to those in need our commitment is to provide accessible.</p>
                            </div>
                        </div>
                    </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Environmental Conservation: </h5>
                                <p>We are committed to protecting the environment for future generations. Our projects focus on reforestation, conservation, and raising awareness about sustainable practices to combat climate change.
                                </p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fas fa-3x fa-female text-primary mb-4"></i>
                                <h5>Women's Empowerment:</h5>
                                <p>We champion gender equality and women's empowerment. Our programs provide women with education, vocational training, and support to become self-reliant and active participants in their communities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                                <h5>Advocacy and Awareness: </h5>
                                <p>We raise awareness about critical social issues and advocate for policy changes that benefit marginalized populations. Our goal is to bring about systemic change and address the root causes of social problems.</p>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- Service End -->

          <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Upcomung Activities</h5>
                    <h1 class="mb-5">Event</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for notification in notifications %}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{{ notification.name }}</span>
                                                <span class="text-primary">{{ notification.event_datetime }}</span>
                                            </h5>
                                            <small class="fst-italic">{{ notification.description }}</small>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.5s">
<div class="container">
<div class="text-center">
<h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
<h1 class="mb-5">Our Doners Say!!!</h1>
</div>
<div class="owl-carousel testimonial-carousel">
<div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
    <p>I've been donating to our local food bank for years, and it's incredibly rewarding. Knowing that I'm helping families in need put food on their tables is a feeling like no other. The impact is immediate and heartfelt." </p>
    <div class="d-flex align-items-center">
        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-1.jpg' %}" style="width: 50px; height: 50px;">
        <div class="ps-3">
            <h5 class="mb-1">Priya Patel</h5>
        </div>
    </div>
</div>
<div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
    <p>"I started volunteering at a homeless shelter last year, and it has been life-changing. Seeing the smiles on the faces of those we help, even in the most challenging circumstances, reminds me of the power of compassion and community." </p>
    <div class="d-flex align-items-center">
        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-2.jpg' %}" style="width: 50px; height: 50px;">
        <div class="ps-3">
            <h5 class="mb-1">Raj Sharma</h5>
        
        </div>
    </div>
</div>
<div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
    <p>"I've been donating to medical research organizations for over a decade. Recently, they made a breakthrough in a disease that has affected my family. I'm proud to have played a small part in supporting their work." </p>
    <div class="d-flex align-items-center">
        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-3.jpg' %}" style="width: 50px; height: 50px;">
        <div class="ps-3">
            <h5 class="mb-1">Lokin Meheta</h5>
        
        </div>
    </div>
</div>
{% comment %} <div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
    <div class="d-flex align-items-center">
        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-4.jpg' %}" style="width: 50px; height: 50px;">
        <div class="ps-3">
            <h5 class="mb-1">Client Name</h5>
            <small>Profession</small>
        </div>
    </div> {% endcomment %}
</div>
</div>
</div>
</div>
<!-- Testimonial End -->

{% comment %} <!-- About Start -->
<div class="container-xxl py-5">
<div class="container">
    <div class="row g-5 align-items-center">
        <div class="col-lg-6">
            <div class="row g-3">
                <div class="col-6 text-start">
                    <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/about.png' %}">
                </div>
                <div class="col-6 text-start">
                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/about1.png' %}" style="margin-top: 25%;">
                </div>
                <div class="col-6 text-end">
                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/about2.png' %}">
                </div>
                <div class="col-6 text-end">
                    <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/about3.png' %}">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
            <h1 class="mb-4">Welcome to </i>HopeLink Connect</h1>
            <p class="mb-4">Welcome to <b>HopeLink Connect</b>, a passionate and dedicated non-profit organization committed to creating positive change in education, healthcare, environmental conservation . Founded in <b>2010</b>, we have been tirelessly working towards [briefly describe your main mission or goal].</p>
            <p class="mb-4">At HopeLink Connect, our mission is to help children and old people to be active and get to known towards the outside environment. Through innovative initiatives, strategic partnerships, and community-driven solutions, we strive to [describe the intended impact and change the NGO seeks to create]. We believe that by [mention key strategies or approaches], we can contribute to a more [describe the positive future or world you are working towards].</p>
            <div class="row g-4 mb-4">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                        <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                        <div class="ps-4">
                            <p class="mb-0">Years of</p>
                            <h6 class="text-uppercase mb-0">Experience</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                        <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                        <div class="ps-4">
                            <p class="mb-0">Popular</p>
                            <h6 class="text-uppercase mb-0">Master Chefs</h6>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
        </div>
    </div>
</div>
</div>
<!-- About End --> {% endcomment %}




<!-- Reservation Start -->

<!-- Reservation Start -->
{% comment %} 
<section class="fact-counter-wrapper sec-padding parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-text-center">
                <h2>We are served since <b>35 years</b> <br>to helpless people with trust and <br>we are happy</h2>
                <a href="#" class="thm-btn inverse m-btmm40">Be a part of us</a>
            </div>
            <div class="col-lg-6 col-md-12 md-text-center">
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-shapes-2"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="365" data-speed="5000" data-refresh-interval="50">365</span>
                    <p>Total Awards</p>
                </div>
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-people-3"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="2200" data-speed="5000" data-refresh-interval="50">155</span>
                    <p>Total Volunteer</p>
                </div>
                <div class="single-fact">
                    <div class="icon-box">
                        <i class="flaticon-hands"></i>
                    </div>
                    <span class="timer" data-from="10" data-to="155" data-speed="5000" data-refresh-interval="50">2200</span>
                    <p>Total Projects</p>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}



<section id="slide-show">
    <div class="slidex activx">
      <div class="bg1">
        <div class="slider-center">
            <div class="col-lg-12 text-center text-lg-start">
                {% comment %} <p class="text-white animated slideInLeft mb-4 pb-2">HopeLink Connect means non-profit organization.
                <br>Charitable giving is a powerful force that has the potential to transform lives and communities. It is an act of selflessness, compassion, and empathy that reaches beyond our spheres.
                <br>    Let's make a better world. You can always make a difference for them. Together, let's help each other.</p>
                <a href="{% url 'registration' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Donation</a> {% endcomment %}
            </div>
        </div>
      </div>
    </div>

    <div class="slidex">
       <div class="bg2">
         <div class="slider-center">
            <div class="col-lg-12 text-center text-lg-start">
                {% comment %} <p class="text-white animated slideInLeft mb-4 pb-2">HopeLink Connect means non-profit organization.
                <br>Charitable giving is a powerful force that has the potential to transform lives and communities. It is an act of selflessness, compassion, and empathy that reaches beyond our spheres.
                <br>    Let's make a better world. You can always make a difference for them. Together, let's help each other.</p>
                <a href="{% url 'registration' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Donation</a> {% endcomment %}
            </div>
         </div>
       </div>
    </div> 

    <div class="slidex">
       <div class="bg3">
         <div class="slider-center">
            <div class="col-lg-12 text-center text-lg-start">
                {% comment %} <p class="text-white animated slideInLeft mb-4 pb-2">HopeLink Connect means non-profit organization.
                <br>Charitable giving is a powerful force that has the potential to transform lives and communities. It is an act of selflessness, compassion, and empathy that reaches beyond our spheres.
                <br>    Let's make a better world. You can always make a difference for them. Together, let's help each other.</p>
                <a href="{% url 'registration' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Donation</a> {% endcomment %}
            </div>
         </div>
       </div>
    </div>


    <div class="slidex">
       <div class="bg4">
         <div class="slider-center">
            <div class="col-lg-12 text-center text-lg-start">
                {% comment %} <p class="text-white animated slideInLeft mb-4 pb-2">HopeLink Connect means non-profit organization.
                <br>Charitable giving is a powerful force that has the potential to transform lives and communities. It is an act of selflessness, compassion, and empathy that reaches beyond our spheres.
                <br>    Let's make a better world. You can always make a difference for them. Together, let's help each other.</p>
                <a href="{% url 'registration' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Donation</a> {% endcomment %}
            </div>
       </div>
    </div>

    <div class="slideshow-nav">
      <a href="#" class="nav-link previousx"><i class="fa fa-angle-left"></i></a>
      <a href="#" class="nav-link nextx"><i class="fa fa-angle-right"></i></a>
    </div>

    <div class="arrow"><a href="#unten"><i class="fa fa-angle-down"></i></a></div>

</section> 
<section class="call-to-action">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="call-to-action-corner col-md-4" style="background-image: url({% static 'img/left-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-circle"></i>
                        </div>						
                    </div>
                    <div class="content-box">
                        <h3>Donation</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                        <a href="{% url 'login' %}" class="thm-btn inverse">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="call-to-action-center col-md-4" style="background-image: url({% static 'img/center-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-social"></i>
                        </div>						
                    </div>
                    <div class="content-box">
                        <h3>Volunteer</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                        <a href="{% url 'intant' %}" class="thm-btn inverse">Join Now</a>
                    </div>
                </div>
            </div>
            <div class="call-to-action-corner col-md-4" style="background-image: url({% static 'img/right-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical"></i>
                        </div>						
                    </div>
                    <div class="content-box">
                        <h3>Fundraise</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum availabl </p>
                        <a href="{% url 'about' %}" class="thm-btn inverse">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Navbar & Hero End -->
        <!-- Service Start -->
        <div class="container-xxl">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Missions</h5>
                    <h1 class="mb-5">Explore Our Missions</h1>
                </div>
                <div class="row g-6">
                   
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                               <i class="fas fa-3x fa-wheelchair text-primary mb-4"></i> 
                                <h5>Help the Helpless</h5>
                                <p>"In a world where adversity can strike anyone. By reaching out to those who are less fortunate, we not only realize suffering but also foster sense of unity and shared humanity. We play role in making the world a kinder and more inclusive place, where no one is left without support and hope.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                               <i class="fas fa-3x fa-book-open text-primary mb-4"></i> 
                                <h5>Providing the Scholarship</h5>
                                <p>We believe that education is a fundamental right. Our mission is to ensure that every child, The regardless of their background, has access to quality education. We establish schools, offer scholarships, and promote literacy to unlock the full potential of the next generation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                               <i class="fas fa-3x fa-heartbeat text-primary mb-4"></i>
                                <h5>Health Care</h5>
                                <p>We are dedicated to improving healthcare access and outcomes in underserved areas. Our initiatives include setting up medical clinics, organizing health camps, and providing vital medical supplies to those in need our commitment is to provide accessible.</p>
                            </div>
                        </div>
                    </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Environmental Conservation: </h5>
                                <p>We are committed to protecting the environment for future generations. Our projects focus on reforestation, conservation, and raising awareness about sustainable practices to combat climate change.
                                </p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fas fa-3x fa-female text-primary mb-4"></i>
                                <h5>Women's Empowerment:</h5>
                                <p>We champion gender equality and women's empowerment. Our programs provide women with education, vocational training, and support to become self-reliant and active participants in their communities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                                <h5>Advocacy and Awareness: </h5>
                                <p>We raise awareness about critical social issues and advocate for policy changes that benefit marginalized populations. Our goal is to bring about systemic change and address the root causes of social problems.</p>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- Service End -->

          <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Upcomung Activities</h5>
                    <h1 class="mb-5">Event</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for notification in notifications %}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{{ notification.name }}</span>
                                                <span class="text-primary">{{ notification.event_datetime }}</span>
                                            </h5>
                                            <small class="fst-italic">{{ notification.description }}</small>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.5s">
<div class="container">
<div class="text-center">
<h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
<h1 class="mb-5">Our Doners Say!!!</h1>
</div>
<div class="owl-carousel testimonial-carousel">
<div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
    <p>I've been donating to our local food bank for years, and it's incredibly rewarding. Knowing that I'm helping families in need put food on their tables is a feeling like no other. The impact is immediate and heartfelt." </p>
    <div class="d-flex align-items-center">
        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-1.jpg' %}" style="width: 50px; height: 50px;">
        <div class="ps-3">
            <h5 class="mb-1">Priya Patel</h5>
        </div>
    </div>
</div>
<div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
    <p>"I started volunteering at a homeless shelter last year, and it has been life-changing. Seeing the smiles on the faces of those we help, even in the most challenging circumstances, reminds me of the power of compassion and community." </p>
    <div class="d-flex align-items-center">
        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-2.jpg' %}" style="width: 50px; height: 50px;">
        <div class="ps-3">
            <h5 class="mb-1">Raj Sharma</h5>
        
        </div>
    </div>
</div>
<div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
    <p>"I've been donating to medical research organizations for over a decade. Recently, they made a breakthrough in a disease that has affected my family. I'm proud to have played a small part in supporting their work." </p>
    <div class="d-flex align-items-center">
        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-3.jpg' %}" style="width: 50px; height: 50px;">
        <div class="ps-3">
            <h5 class="mb-1">Lokin Meheta</h5>
        
        </div>
    </div>
</div>
{% comment %} <div class="testimonial-item bg-transparent border rounded p-4">
    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
    <div class="d-flex align-items-center">
        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-4.jpg' %}" style="width: 50px; height: 50px;">
        <div class="ps-3">
            <h5 class="mb-1">Client Name</h5>
            <small>Profession</small>
        </div>
    </div> {% endcomment %}
</div>
</div>
</div>
</div>


<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">Our Founders</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="">
                    </div>
                    <h5 class="mb-0">Jaimin Dave</h5>
                    <small>CEO(Founder)</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="{% static 'img/team-2.jpg' %}" alt="" width="200px" height="300px">
                    </div>
                    <h5 class="mb-0">Megha Sankhala</h5>
                    <small>Employee</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="">
                    </div>
                    <h5 class="mb-0">Kinjal Thakkar</h5>
                    <small>Employee</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="{% static 'img/team-1.png' %}" alt="">
                    </div>
                    <h5 class="mb-0">Urvi Patel</h5>
                    <small>Employee</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </div>
<!-- Team End -->







{% endblock %}
