
{% extends 'profile_base.html' %}

{% load static %}

{% block content %}
{% csrf_token %}
               <!-- dashboard inner -->
               <div class="midde_cont">
                <div class="container-fluid">
                   <div class="row column_title">
                      <div class="col-md-12">
                         <div class="page_title">
                            <h2>Dashboard</h2>
                         </div>
                      </div>
                   </div>
                   <div class="row column1">
                      <div class="col-md-6 col-lg-3">
                         <div class="full counter_section margin_bottom_30">
                            <div class="couter_icon">
                               <div> 
                                  <i class="fa fa-money yellow_color"></i>
                               </div>
                            </div>
                            <div class="counter_no">
                               <div>
                                  <p class="total_no">5</p>
                                  <p class="head_couter">Money Donation</p>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                         <div class="full counter_section margin_bottom_30">
                            <div class="couter_icon">
                               <div> 
                                  <i class="fa fa-graduation-cap yellow_color"></i>
                               </div>
                            </div>
                            <div class="counter_no">
                               <div>
                                  <p class="total_no">2</p>
                                  <p class="head_couter">Education Donation</p>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                         <div class="full counter_section margin_bottom_30">
                            <div class="couter_icon">
                               <div> 
                                  <i class="fa fa-shopping-bag yellow_color"></i>
                               </div>
                            </div>
                            <div class="counter_no">
                               <div>
                                  <p class="total_no">3</p>
                                  <p class="head_couter">Cloth Donation</p>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                         <div class="full counter_section margin_bottom_30">
                            <div class="couter_icon">
                               <div> 
                                  <i class="fa fa-cutlery yellow_color"></i>
                               </div>
                            </div>
                            <div class="counter_no">
                               <div>
                                  <p class="total_no">1</p>
                                  <p class="head_couter">food Donation</p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   
                   <!-- end graph -->
                   {% comment %} <div class="row column3">
                     <div class="midde_cont">
                        <div class="container-fluid">
                           <div class="row column_title">
                              <div class="col-md-12">
                                 <div class="page_title">
                                    <h2>Dashboard</h2>
                                 </div>
                              </div>
                           </div>
                           <div class="row column1">
                              <div class="col-md-6 col-lg-3">
                                 <div class="full counter_section margin_bottom_30">
                                    <div class="couter_icon">
                                       <div> 
                                          <i class="fa fa-user yellow_color"></i>
                                       </div>
                                    </div>
                                    <div class="counter_no">
                                       <div>
                                          <p class="total_no">2500</p>
                                          <p class="head_couter"></p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 col-lg-3">
                                 <div class="full counter_section margin_bottom_30">
                                    <div class="couter_icon">
                                       <div> 
                                          <i class="fa fa-clock-o blue1_color"></i>
                                       </div>
                                    </div>
                                    <div class="counter_no">
                                       <div>
                                          <p class="total_no">123.50</p>
                                          <p class="head_couter">Average Time</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 col-lg-3">
                                 <div class="full counter_section margin_bottom_30">
                                    <div class="couter_icon">
                                       <div> 
                                          <i class="fa fa-cloud-download green_color"></i>
                                       </div>
                                    </div>
                                    <div class="counter_no">
                                       <div>
                                          <p class="total_no">1,805</p>
                                          <p class="head_couter">Collections</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 col-lg-3">
                                 <div class="full counter_section margin_bottom_30">
                                    <div class="couter_icon">
                                       <div> 
                                          <i class="fa fa-comments-o red_color"></i>
                                       </div>
                                    </div>
                                    <div class="counter_no">
                                       <div>
                                          <p class="total_no">54</p>
                                          <p class="head_couter">Comments</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> {% endcomment %}
                   
                      
             
 <!-- end dashboard inner -->                           
 {% endblock %}

 