{% extends 'adminbase.html' %}
{% load static %}


{% block content %}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;"><h5>Pages/</h5></a></li>
        <li aria-current="page"><h5>Donation</h5></li>
      </ol>
      <h2 class="font-weight-bolder mb-0">Food Donation</h2>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          <label class="form-label"></label>
        </div>
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-sign-out me-sm-1"></i>
            <a href="{% url 'login' %}"><span class="d-sm-inline d-none"><h5>Logout</h5></span></a>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section>
  
  <table class="custom-table food-table">
      <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Address</th>
          <th>Organization Name</th>
          <th>Organization Mission</th>
          <th>Date Needed</th>
          <th>Time Needed</th>
          <th>Status</th>
          <th>Actions</th>
      </tr>
      {% for food_donation in food_donation %}
          <tr>
              <td>{{ food_donation.name }}</td>
              <td>{{ food_donation.phone_code }} - {{ food_donation.phone_number }}</td>
              <td>{{ food_donation.email }}</td>
              <td>{{ food_donation.pickup_address }}, {{ food_donation.pickup_city }}, {{ food_donation.pickup_state }}, {{ food_donation.pickup_postal_code }}</td>
              <td>{{ food_donation.organization_name }}</td>
              <td>{{ food_donation.organization_mission }}</td>
              <td>{{ food_donation.date_needed|date:"Y-m-d" }}</td>
              <td>{{ food_donation.time_needed }}</td>
              <td id="status-{{ food_donation.id }}">{{ food_donation.status }}</td>
              <td>
                <form action="{% url 'admin_fooddonation' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="form_type" value="food" />
                  <input type="hidden" name="form_id" value="{{food_donation.id}}" />
                  <input type="hidden" name="status" value="Approved" />
                  <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form action="{% url 'admin_fooddonation' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="form_type" value="food" />
                  <input type="hidden" name="form_id" value="{{food_donation.id}}" />
                  <input type="hidden" name="status" value="Rejected" />
                  <button type="submit" class="btn btn-danger">Reject</button>
                </form>
              </td>
          </tr>
      {% endfor %}
  </table>
</section>
<style>
  /* General table styles */
  .custom-table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .custom-table th, .custom-table td {
      border: 1px solid #dddddd;
      padding: 8px;
      text-align: left;
  }

  .custom-table th {
      background-color: #f2f2f2;
      color: #333;
  }

  .custom-table tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  .custom-table tr:hover {
      background-color: #e2e2e2;
  }

  /* Additional styling for specific event types */
  .custom-table.money-table th {
      background-color: #e2e2e2; /* Adjust the color as needed */
  }

  .custom-table th {
    background-color: #ed7014;
    color: #ffff;
      font-weight: bold;
      border-color:#000;
  }

  /* Style alternating rows */
  .custom-table tr:nth-child(even) {
      background-color: #f2f2f2;
      color:#000;
  }

  .custom-table tr:hover {
      background-color: #e2e2e2;
      color:#000;
  }
</style>
{% endblock %}