{% extends 'adminbase.html' %}
{% load static %}


{% block content %}

    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Donation</li>
            </ol>
            <h6 class="font-weight-bolder mb-0">Donation</h6>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label class="form-label"></label>
              </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                  <i class="fa fa-sign-out me-sm-1"></i>
                  <a href="{% url 'login' %}"><span class="d-sm-inline d-none">Logout</span></a>
                </a>
              </li>
              {% comment %} <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0">
                  <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                </a>
              </li>
              <li class="nav-item dropdown pe-2 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell cursor-pointer"></i>
                </a>
                <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img src="{% static 'ngo/img/team-2.jpg' %}" class="avatar avatar-sm  me-3 ">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New message</span> from Laur
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            13 minutes ago
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img src="{% static 'ngo/img/small-logos/logo-spotify.svg' %}" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New album</span> by Travis Scott
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            1 day
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                          <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>credit-card</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                <g transform="translate(1716.000000, 291.000000)">
                                  <g transform="translate(453.000000, 454.000000)">
                                    <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                    <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            Payment successfully completed
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            2 days
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li> {% endcomment %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    <section>
        <h1>Education Donation List</h1>

        <!-- Display the education donation data in a table with curved borders -->
        <table class="custom-table education-table">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Type of Donation</th>
                <th>What Would You Like to Donate</th>
                <th>Status</th> <!-- Add a new column for status -->
                <th>Actions</th> <!-- Add a new column for actions -->
            </tr>
            {% for education_donation in education_donations %}
                <tr>
                    <td>{{ education_donation.first_name }} {{ education_donation.last_name }}</td>
                    <td>{{ education_donation.ph_code }} - {{ education_donation.phone_number }}</td>
                    <td>{{ education_donation.email }}</td>
                    <td>{{ education_donation.address }}, {{ education_donation.city }}, {{ education_donation.state }}, {{ education_donation.area_code }}</td>
                    <td>{{ education_donation.type_of_donation }}</td>
                    <td>{{ education_donation.what_would_you_like_to_donate }}</td>
                    <td id="status-{{ education_donation.id }}">{{ education_donation.status }}</td>
                    <td>
                      <form action="{% url 'all_donation' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="education" />
                        <input type="hidden" name="form_id" value="{{education_donation.id}}" />
                        <input type="hidden" name="status" value="Approved" />
                        <button type="submit" class="btn btn-success">Approve</button>
                        {% comment %} onClick="approveForm('education', {{ education_donation.id }}, 'approve')" {% endcomment %}
                      </form>
                      <form action="{% url 'all_donation' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="education" />
                        <input type="hidden" name="form_id" value="{{education_donation.id}}" />
                        <input type="hidden" name="status" value="Rejected" />
                        <button type="submit" class="btn btn-danger">Reject</button>
                        {% comment %} onClick="approveForm('education', {{ education_donation.id }}, 'reject')" {% endcomment %}
                      </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
    
    <section>
        <h1>Food Donation Confirmation</h1>
       
        <!-- Display the food donation data in a similar way -->
        <table class="custom-table food-table">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Organization Name</th>
                <th>Organization Mission</th>
                <th>Date Needed</th>
                <th>Time Needed</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for food_donation in food_donation %}
                <tr>
                    <td>{{ food_donation.first_name }} {{ food_donation.last_name }}</td>
                    <td>{{ food_donation.phone_code }} - {{ food_donation.phone_number }}</td>
                    <td>{{ food_donation.email }}</td>
                    <td>{{ food_donation.pickup_address }}, {{ food_donation.pickup_city }}, {{ food_donation.pickup_state }}, {{ food_donation.pickup_postal_code }}</td>
                    <td>{{ food_donation.organization_name }}</td>
                    <td>{{ food_donation.organization_mission }}</td>
                    <td>{{ food_donation.date_needed|date:"Y-m-d" }}</td>
                    <td>{{ food_donation.time_needed }}</td>
                    <td id="status-{{ food_donation.id }}">{{ food_donation.status }}</td>
                    <td>
                      <form action="{% url 'all_donation' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="food" />
                        <input type="hidden" name="form_id" value="{{food_donation.id}}" />
                        <input type="hidden" name="status" value="Approved" />
                        <button type="submit" class="btn btn-success">Approve</button>
                      </form>
                      <form action="{% url 'all_donation' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="food" />
                        <input type="hidden" name="form_id" value="{{food_donation.id}}" />
                        <input type="hidden" name="status" value="Rejected" />
                        <button type="submit" class="btn btn-danger">Reject</button>
                      </form>
                    </td>
                    {% comment %} <td>
                        <button class="btn btn-success" onclick="approveForm('food', {{ food_donation.id }}, 'approve')">Approve</button>
                        <button class="btn btn-danger" onclick="approveForm('food', {{ food_donation.id }}, 'reject')">Reject</button>
                    </td> {% endcomment %}
                </tr>
            {% endfor %}
        </table>
    </section>
        
    <section>
        <h1>Cloth Donation Confirmation</h1>
        
        <!-- Display the cloth donation data in a similar way -->
        <table class="custom-table cloth-table">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Condition</th>
                <th>Type of Dress</th>
                <th>Size</th>
                <th>Note</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for cloth_donation in cloth_donation %}
                <tr>
                    <td>{{ cloth_donation.first_name }} {{ cloth_donation.last_name }}</td>
                    <td>{{ cloth_donation.phone_code }} - {{ cloth_donation.phone_number }}</td>
                    <td>{{ cloth_donation.email }}</td>
                    <td>{{ cloth_donation.condition }}</td>
                    <td>{{ cloth_donation.type_of_dress }}</td>
                    <td>{{ cloth_donation.size }}</td>
                    <td>{{ cloth_donation.note }}</td>
                    <td id="status-{{ cloth_donation.id }}">{{ cloth_donation.status }}</td>
                    <td>
                      <form action="{% url 'all_donation' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="cloth" />
                        <input type="hidden" name="form_id" value="{{cloth_donation.id}}" />
                        <input type="hidden" name="status" value="Approved" />
                        <button type="submit" class="btn btn-success">Approve</button>
                      </form>
                      <form action="{% url 'all_donation' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="cloth" />
                        <input type="hidden" name="form_id" value="{{cloth_donation.id}}" />
                        <input type="hidden" name="status" value="Rejected" />
                        <button type="submit" class="btn btn-danger">Reject</button>
                      </form>
                    </td>
                    {% comment %} <td>
                        <button class="btn btn-success" onclick="approveForm('cloth', {{ cloth_donation.id }}, 'approve')">Approve</button>
                        <button class="btn btn-danger" onclick="approveForm('cloth', {{ cloth_donation.id }}, 'reject')">Reject</button>
                    </td> {% endcomment %}
                </tr>
            {% endfor %}
        </table>
    </section>

    <section class="user-donation-section">
        <h1>Money Donation Details</h1>
        <table class="custom-table money-donation-table">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Donation Amount</th>
                <th>Razorpay Order ID</th>
            </tr>
            {% for money_donation in money_donation %}
            <tr>
                <td>{{ money_donation.first_name }} {{ money_donation.last_name }}</td>
                <td>{{ money_donation.ph_code }} - {{ money_donation.phone_number }}</td>
                <td>{{ money_donation.email }}</td>
                <td>{{ money_donation.address }}, {{ money_donation.city }}, {{ money_donation.state }}, {{ money_donation.country }}, {{ money_donation.area_code }}</td>
                <td>{{ money_donation.donation_amount }} INR</td>
                <td>{{ money_donation.razorpay_order_id }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
    
</section>
<style>
    /* General table styles */
    .custom-table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .custom-table th, .custom-table td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }

    .custom-table th {
        background-color: #f2f2f2;
        color: #333;
    }

    .custom-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .custom-table tr:hover {
        background-color: #e2e2e2;
    }

    /* Additional styling for specific event types */
    .custom-table.money-table th {
        background-color: #e2e2e2; /* Adjust the color as needed */
    }

    /* Style table headers */
    .custom-table th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
    }

    /* Style alternating rows */
    .custom-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .custom-table tr:hover {
        background-color: #e2e2e2;
    }
</style>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
function approveForm(form_type, form_id, action) {
    console.log("test")
    // Define the URL and status
    var url = '/update-donation-status/';
    var status = action === 'approve' ? 'Approved' : 'Rejected';

    // Send an AJAX request to update the status
    $.ajax({
        url: url,
        type: 'POST',
        data: {
            'form_type': form_type,
            'form_id': form_id,
            'status': status,
        },
        success: function (response) {
            if (response.success) {
                alert('Form ' + status.toLowerCase() + ' successfully.');
                // Optionally, you can update the status on the page
                updateStatusOnPage(form_id, status);
            } else {
                alert('Failed to ' + status.toLowerCase() + ' form.');
            }
        },
        error: function () {
            alert('An error occurred while processing your request.');
        }
    });
}

// Function to update the status on the page
function updateStatusOnPage(form_id, status) {
    var statusElement = document.getElementById('status-' + form_id);
    if (statusElement) {
        statusElement.innerHTML = status;
    }
}
</script>

{% endblock %}
