{% extends 'adminbase.html' %}
{% load static %}

{% block content %}

    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Event</li>
            </ol>
            <h6 class="font-weight-bolder mb-0">Event</h6>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label class="form-label"></label>
              </div>
            </div>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                  <i class="fa fa-sign-out me-sm-1"></i>
                  <a href="{% url 'login' %}"><span class="d-sm-inline d-none">Logout</span></a>
                </a>
              </li>
              {% comment %} <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0">
                  <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                </a>
              </li>
              <li class="nav-item dropdown pe-2 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell cursor-pointer"></i>
                </a>
                <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img src="{% static 'ngo/img/team-2.jpg' %}" class="avatar avatar-sm  me-3 ">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New message</span> from Laur
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            13 minutes ago
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img src="{% static 'ngo/img/small-logos/logo-spotify.svg' %}" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New album</span> by Travis Scott
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            1 day
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                          <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>credit-card</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                <g transform="translate(1716.000000, 291.000000)">
                                  <g transform="translate(453.000000, 454.000000)">
                                    <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                    <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            Payment successfully completed
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            2 days
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li> {% endcomment %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    <h1>All Events</h1>

    <!-- Social Events Table -->
    <h2>Social Events</h2>
    <table class="custom-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Event Types</th>
            <th>Activity Time</th>
            <th>Activity Date</th>
            <th>Address</th>
            <th>Status</th> <!-- Add a new column for status -->
            <th>Actions</th> <!-- Add a new column for actions -->
            <!-- Add more table headers for other fields -->
        </tr>
        {% for social_event in social_events %}
            <tr>
                <td>{{ social_event.first_name }} {{ social_event.last_name }}</td>
                <td>{{ social_event.email }}</td>
                <td>{{ social_event.phone_number }}</td>
                <td>{{ social_event.type_of_event }}</td>
                <td>{{ social_event.activity_time }}</td>
                <td>{{ social_event.activity_date }}</td>
                <td>{{ social_event.address_line1 }}, {{ social_event.city }}, {{ social_event.state }} {{ social_event.postal_code }}</td>
                <td></td>
                <td></td>
                <!-- Add more table cells for other fields -->
            </tr>
        {% endfor %}
    </table>

    <!-- Impact Stories Table -->
    <h2>Impact Stories</h2>
    <table class="custom-table">
        <tr>
            <th>Name</th>
            <th>Story Name</th>
            <th>User Story</th>
            <th>Notes</th>
            <!-- Add more table headers for other fields -->
        </tr>
        {% for user_story in user_stories %}
            <tr>
                <td>{{ user_story.name }}</td>
                <td>{{ user_story.story_name }}</td>
                <td>{{ user_story.user_story }}</td>
                <td>{{ user_story.notes }}</td>
                <!-- Add more table cells for other fields -->
            </tr>
        {% endfor %}
    </table>

    <!-- Health Camp Events Table -->
    <h2>Health Camp Events</h2>
    <table class="custom-table">
        <tr>
            <th>Doctor Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Event Types</th>
            <th>Time</th>
            <th>Date</th>
            <th>Address</th>
            <!-- Add more table headers for other fields -->
        </tr>
        {% for health_camp in health_camps %}
            <tr>
                <td>{{ health_camp.nameofdoctor }}</td>
                <td>{{ health_camp.email }}</td>
                <td>{{ health_camp.phonenumberarea }} {{ health_camp.phonenumber }}</td>
                <td>{{ health_camp.types1 }}, {{ health_camp.types2 }}, {{ health_camp.types3 }}, {{ health_camp.types4 }}, {{ health_camp.types5 }}</td>
                <td>{{ health_camp.timeinput }} {{ health_camp.ampm }}</td>
                <td>{{ health_camp.date }}</td>
                <td>{{ health_camp.addrline1 }}, {{ health_camp.addresscity }}, {{ health_camp.addressstate }} {{ health_camp.addresspostal }}</td>
                <!-- Add more table cells for other fields -->
            </tr>
        {% endfor %}
    </table>

    <!-- Scholarship Applications Table -->
    <h2>Scholarship Applications</h2>
    <table class="custom-table">
        <tr>
            <th>Name</th>
            <th>Organization</th>
            <th>Scholarship Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Scholarship Type</th>
            <th>Date</th>
            <th>Address</th>
            <th>Benefit</th>
            <th>Status</th> <!-- Add a new column for status -->
            <th>Actions</th> <!-- Add a new column for actions -->
            <!-- Add more table headers for other fields -->
        </tr>
        {% for scholarship_application in scholarship_applications %}
            <tr>
                <td>{{ scholarship_application.firstname }}</td>
                <td>{{ scholarship_application.nameoforg }}</td>
                <td>{{ scholarship_application.nameofscholarship }}</td>
                <td>{{ scholarship_application.email }}</td>
                <td>{{ scholarship_application.area }} - {{ scholarship_application.phonenumber }}</td>
                <td>{{ scholarship_application.typeofscholarship }}</td>
                <td>{{ scholarship_application.date }}</td>
                <td>{{ scholarship_application.addrline1 }}, {{ scholarship_application.addresscity }}, {{ scholarship_application.addresstate }} {{ scholarship_application.addresspostal }}</td>
                <td>{{ scholarship_application.benefit }}</td>
                <td></td>
                <td></td>
                <!-- Add more table cells for other fields -->
            </tr>
        {% endfor %}
    </table>
    <style>
        /* General table styles */
        .custom-table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
    
        .custom-table th, .custom-table td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
        }
    
        .custom-table th {
            background-color: #f2f2f2;
            color: #333;
        }
    
        .custom-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    
        .custom-table tr:hover {
            background-color: #e2e2e2;
        }
    
        /* Additional styling for specific event types */
        .custom-table.social-table th {
            background-color: #ff9900; /* Adjust the color as needed */
        }
    
        .custom-table.impact-table th {
            background-color: #ff9900; /* Adjust the color as needed */
        }
    
        .custom-table.health-table th {
            background-color: #ff9900; /* Adjust the color as needed */
        }
    
        .custom-table.scholarship-table th {
            background-color: #f44336; /* Adjust the color as needed */
        }
    
        /* Adjust colors for table headers of other event types */
    
        /* Style table headers */
        .custom-table th {
            background-color: #f2f2f2;
            color: #333;
            font-weight: bold;
        }
    
        /* Style alternating rows */
        .custom-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    
        .custom-table tr:hover {
            background-color: #e2e2e2;
        }
    
        /* Style hyperlinks within tables (e.g., email addresses) */
        .custom-table a {
            color: #0073e6; /* Adjust the link color as needed */
            text-decoration: none;
        }
    
        .custom-table a:hover {
            text-decoration: underline;
        }
    
    </style>
    

</div>

{% endblock %}
