{% load static %}
<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-1 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-1">
        <div class="row g-1">
            <div class="col-lg-4 col-md-12">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">HopeLink Connect</h4>
                <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                <a class="btn btn-link" href="{% url 'intant' %}">Internship</a>
                <a class="btn btn-link" href="{% url 'gallery' %}">Gallery</a>
                <a class="btn btn-link" href="{% url 'event' %}">Book Event</a>
            </div>
            <div class="col-lg-4 col-md-12">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact Details</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Maninagar,Ahemdabad, Gujarat</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 9054678389</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>hopelinkconnect@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening And Closing</h4>
                <h5 class="text-light fw-normal">Monday - Saturday</h5>
                <p>09AM - 09PM</p>
                <h5 class="text-light fw-normal">Sunday</h5>
                <p>10AM - 08PM</p>
            </div>
            {% comment %} <div class="col-lg-3 col-md-6"> {% endcomment %}
                {% comment %} <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">We can't Help Everyone But Everyone can Help Someone... </h4> {% endcomment %}
                {% comment %} <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    &copy; <a class="border-bottom" href="#">HopeLinkConnect</a>, All Right Reserved. 
                    Designed By <a class="border-bottom" >HopeLinkConnect</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

