{% load static %}
<div class="full_container">
    <div class="inner_container">
       <!-- Sidebar  -->
       <nav id="sidebar">
          <div class="sidebar_blog_1">
             <div class="sidebar-header">
                <div class="logo_section">
                   <a href="{% url 'userdonation' %}""><img class="logo_icon img-responsive" src="{{ request.session.profileImage }}" alt="#" /></a>
                </div>
             </div>
             <div class="sidebar_user_info">
                <div class="icon_setting"></div>
                <div class="user_profle_side">
                  <div class="user_img"><img class="img-responsive" src="{{ request.session.profileImage }}"/></div>
                   <div class="user_info">
                      <h6>{{request.session.username}}</h6>
                      <p><span class="online_animation"></span> Online</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="sidebar_blog_2">
             
             <ul class="list-unstyled components">
                <li>
                   <a href="{% url 'staffdeshbord' %}" class="{% if request.resolver_match.url_name == 'staffdeshbord' %}active{% endif %}" style="font-size: 18px;" aria-expanded="false" >
                     <i class="fa fa-dashboard purple_color {% if request.resolver_match.url_name != 'staffdeshbord' %}purple_color{% endif %} {% if request.resolver_match.url_name == 'staffdeshbord' %}white_color{% endif %}"></i> <span>Dashboard</span></a>
                   
                </li>
                <li>
                  <a href="{% url 'newmember' %}" class="{% if request.resolver_match.url_name == 'newmember' %}active{% endif %}"style="font-size: 18px;" aria-expanded="false" >
                     <i class="fa fa-diamond purple_color {% if request.resolver_match.url_name != 'newmember' %}purple_color{% endif %} {% if request.resolver_match.url_name == 'newmember' %}white_color{% endif %}">
                        
                     </i> <span>Add Members</span></a>
                  </li>
                  <li>
                     <a href="#element"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"style="font-size: 18px;" >
                        <i class="fa fa-usd purple_color" ></i> <span>Donations</span></a>
                     <ul class="collapse list-unstyled" id="element">
                        <li><a href="{%url 'stafffooddonation'%}" class="{% if request.resolver_match.url_name == 'stafffooddonation' %}active{% endif %} "style="font-size: 18px;">> <span>Food Donation</span></a></li>
                        <li><a href="{%url 'staffedudonation'%}" class="{% if request.resolver_match.url_name == 'staffedudonation' %}active{% endif %}"style="font-size: 18px;">> <span>Education Donation</span></a></li>
                        <li><a href="{%url 'staffclothdonation'%}" class="{% if request.resolver_match.url_name == 'staffclothdonation' %}active{% endif %}"style="font-size: 18px;">> <span>Cloth Donation </span></a></li>
                     </ul>
                  </li>
                  
                  <li>
                     <a href="#event" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"style="font-size: 18px;"><i class="fa fa-diamond purple_color"></i> <span>Event</span></a>
                     <ul class="collapse list-unstyled" id="event">
                     
                           <li><a href="{%url 'staffsocialactivity'%}" class="{% if request.resolver_match.url_name == 'staffsocialactivity' %}active{% endif %}" style="font-size: 16px;">> <span>Social Event</span></a></li>
                           <li><a href="{%url 'staffimpactstory'%}" class="{% if request.resolver_match.url_name == 'staffimpactstory' %}active{% endif %}" style="font-size: 16px;">> <span>Impact Stories</span></a></li>
                           <li><a href="{%url 'staffhealthcare'%}" class="{% if request.resolver_match.url_name == 'staffhealthcare' %}active{% endif %}" style="font-size: 16px;">> <span>Healthcamp</span></a></li>
                           <li><a href="{%url 'staffscholarship'%}" class="{% if request.resolver_match.url_name == 'staffscholarship' %}active{% endif %}" style="font-size: 16px;">> <span>Scholarship</span></a></li>
                       
                     </ul>
                  </li>

                     <li>
                      <a href="{%url 'staffnotification'%}" class="{% if request.resolver_match.url_name == 'staffnotification' %}active{% endif %}" style="font-size: 18px;" aria-expanded="false" >
                        <i class="fa fa-bell fa-custom purple_color {% if request.resolver_match.url_name != 'staffnotification' %}purple_color{% endif %} {% if request.resolver_match.url_name == 'staffnotification' %}white_color{% endif %}"></i> <span>Notification</span></a>
                      </li>
                      <li>
                      <a href="{%url 'staffmediagallery'%}" class="{% if request.resolver_match.url_name == 'staffmediagallery' %}active{% endif %}" style="font-size: 18px;"aria-expanded="false" ><i class="fa fa-image purple_color {% if request.resolver_match.url_name != 'staffmediagallery' %}purple_color{% endif %} {% if request.resolver_match.url_name == 'staffmediagallery' %}white_color{% endif %}"></i> <span>Media Gallery</span></a>
                     </li>
                       
                      
               
                <li><a href="{% url 'staffmap' %}" class="{% if request.resolver_match.url_name == 'staffmap' %}active{% endif %}"style="font-size: 18px;"><i class="fa fa-map purple_color {% if request.resolver_match.url_name != 'staffmap' %}purple_color{% endif %} {% if request.resolver_match.url_name == 'staffmap' %}purple_color{% endif %}"></i> <span>Map</span></a></li>
                </ul>
          </div>
       </nav>
       <!-- end sidebar -->
       <!-- right content -->
       <div id="content">
          <!-- topbar -->
          <div class="topbar">
             <nav class="navbar navbar-expand-lg navbar-light">
                <div class="full">
                   <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                   <div class="logo_section">
                     <a href=""><h4 style="color: white;align:center;">
                        <img src="{% static 'profile/images/logo/logo1_1.png' %}" alt="HopeLink Connect"> HopeLink Connect
                      </h4></div>
                   <div class="right_topbar">
                      <div class="icon_info">
                         <ul>
                           <a href="{% url 'userevent' %}" class="btn btn-primary py-2 px-4 {% if request.resolver_match.url_name == 'userevent' %}active{% endif %}">Book An Event Now</a>
                           
                         </ul>
                         <ul class="user_profile_dd">
                            <li>
                               <a class="dropdown-toggle" data-toggle="dropdown">
                                 <img class="{% static 'profile/img-responsive rounded-circle' %}" src= "{{ request.session.profileImage }}" />
                                 <span class="name_user">{{ request.session.username }}</span></a>
                               <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{%url 'staffprofile'%}">My Profile</a>
                                 
                                  <a class="dropdown-item" href="{% url 'logout' %}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                               </div>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
          <!-- end topbar -->
